*.o
*~
calfmakerdf
calfjackhost
calfbenchmark
calfdssigui
Makefile
*.pyc
config.*
src/calf_gtk
gui/calf.rc
calf-*.tar.gz
bigbull/build
bigbull/ttl.cpp
bigbull/ttl.h
doc/html/*
dist/*
.cproject
.project
!config.h.cmake.in
build/
